---
import Logos from './Logos.astro';
interface Props {}

const {} = Astro.props;
---

<footer
    aria-labelledby="footer-heading"
    class="relative border-t border-gray-900/10 py-5 sm:py-5"
>
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="xl:grid xl:grid-cols-2 xl:gap-8">
        <div class="mb-15 grid gap-8 xl:col-span-2 xl:mt-0">
            <div class="flex justify-around items-center ml-5 mr-5">
                <a href="/">Contact</a>
                <a href="/">Music</a>
                <a href="/">About</a>
            </div>
            <div class="scale-75"><Logos /></div>
        </div>
    </div>
</footer>
